<div class="container">
  <div class="dashboard-container">
    <div class="dashboard-content">

      <% if current_user.superuser? %>
        <h3>Last 5 Hosts</h3>
        <a href="/users">See all hosts</a>

        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Date Created</th>
              <th>Setup Completed</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.phone_number %></td>
                <td><%= user.created_at.in_time_zone('America/New_York').strftime('%m/%d/%Y %l:%M%p') %></td>
                <td><%= user.setup_completed %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h3>Last 5 Guests</h3>
        <a href="/guests">See all guests</a>
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Checked In</th>
              <th>Plus One</th>
              <th>Date Created</th>
            </tr>
          </thead>

          <tbody>
            <% @guests.each do |guest| %>
              <tr>
                <td><%= guest.first_name %></td>
                <td><%= guest.last_name %></td>
                <td><%= guest.checked_in %></td>
                <td><%= guest.plusone %></td>
                <td><%= guest.created_at.in_time_zone('America/New_York').strftime('%m/%d/%Y %l:%M%p') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h3>Last 5 Check Ins</h3>
        <a href="/check_ins">See all check-ins</a>
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>Host name</th>
              <th>Guest name</th>
              <th>Venue</th>
              <th>Master Checkin</th>
              <th>Plus one Checkin</th>
              <th>Date Created</th>
            </tr>
          </thead>

          <tbody>
            <% @check_ins.each do |check_in| %>
              <tr>
                <td><%= check_in.user&.first_name %> <%= check_in.user&.last_name %></td>
                <td><%= check_in.guest&.first_name %> <%= check_in.guest&.last_name %></td>
                <td><%= check_in.venue&.name %></td>
                <td><%= check_in.master_checkin %></td>
                <td><%= check_in.plusone_checkin %></td>
                <td><%= check_in.created_at.in_time_zone('America/New_York').strftime('%m/%d/%Y %l:%M%p') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h3><a href="/guests">See all guests</a></h3>
      <% else %>

        <div class="guest-dashboard-greeting">
          Hello, <%= current_user.name %>.
        </div>

        <h3>Your Guest Check Ins</h3>
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>Host name</th>
              <th>Guest name</th>
              <th>Venue</th>
              <th>Master Checkin</th>
              <th>Plus one Checkin</th>
              <th>Date Created</th>
            </tr>
          </thead>

          <tbody>
            <% @check_ins.each do |check_in| %>
              <tr>
                <td><%= check_in.user&.first_name %> <%= check_in.user&.last_name %></td>
                <td><%= check_in.guest&.first_name %> <%= check_in.guest&.last_name %></td>
                <td><%= check_in.venue&.name %></td>
                <td><%= check_in.master_checkin %></td>
                <td><%= check_in.plusone_checkin %></td>
                <td><%= check_in.created_at.in_time_zone('America/New_York').strftime('%m/%d/%Y %l:%M%p') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>

      <h3>Host Leaderboard</h3>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Host name</th>
            <th>Guest Check Ins</th>
          </tr>
        </thead>

        <tbody>
          <% @leaderboard_hosts.each do |leaderboard_host| %>
            <tr>
              <td><%= User.find(leaderboard_host[0]).first_name %> <%= User.find(leaderboard_host[0]).last_name %></td>
              <td><%= leaderboard_host[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='profile-sidebar'>
      <img class='profile-picture' src=<%= current_user.image_url %>/>
      <div class="ui horizontal statistics">
        <div class="statistic">
          <div class="value">
            <i class="fa fa-trophy"></i>
          </div>
          <div class="label">
            <% if current_user.superuser? %>
              Admin Panel
            <% else %>
              <%= current_user.name %>
            <% end %>
          </div>
        </div>

        <div class="statistic">
          <div class="value">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="label">
            <%= current_user.email %>
          </div>
        </div>

        <% if !current_user.superuser? %>
          <div class="statistic">
            <div class="value">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="label">
              <%= current_user.created_at.strftime('%b. %Y') %>
            </div>
          </div>
        <% end %>

        <% if current_user.superuser? %>
          <a type="button" class="ui massive button primary get-keys-button" href="/manager">
            Check-In Manager
          </a>
        <% else %>
          <h2>Promote your events:</h2>
          <%= react_component 'Social' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
