<div class='account-setup-blurb'>
  <div class='account-setup-blurb-hi'>Hi. Nice to meet you!</div>
  <div>We'll need a bit of info from you, then let's get you a loan.</div>

</div>

<div class='ui center aligned segment loan-form'>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Email *' %>
      <%= f.email_field :email, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label 'Phone Number' %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>

    <div>(*) denotes required</div>
    <br>

    <%= f.submit 'Update', class: 'ui primary button' %>
  <% end %>
</div>
